{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link href="https://fonts.googleapis.com/css2?family=Mooli&display=swap" rel="stylesheet">
        <link href="{% static 'css/updateUser.css' %}" rel="stylesheet">

        <title>Usuários</title>
    </head>

    <body>
        <div id="edit" class="model">
            <div class="content">
                <div class="header">
                    <a href="../users"><span class="material-symbols-outlined title">keyboard_return</span></a>
                    <h1 class="title">Atualizar Usuário</h1>
                </div>
    
                <form action="{% url 'updateUser' %}?{{ user.username }}" method="POST">{% csrf_token %}
                    <label class="text">Nome</label>
                    <input type="text" name="first_name" maxlength="100" value="{{ user.first_name }}" required>
                    <br><br>
                    <label class="text">Senha</label>
                    <input type="password" name="password" maxlength="100">
                    <br><br>
                    <input type="checkbox" name="is_staff" value="True" {% if user.is_staff %} checked {% endif %}>
                    <label class="text">é Administrador?</label>
                    <br><br>
                    <input type="submit" value="Atualizar" class="button">
                </form>
            </div>
        </div>
    </body>
</html>